%title_second {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    color: #141414;
}

%title_item_footer{
    font-size: 17px;
    line-height: 26px;
    color: #FFFFFF;
}
%title_deskr{
    font-size: 15px;
    line-height: 22px;
    color: #5C8692;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

%title_text18px{
    font-size: 19px;
    line-height: 30px;
    color: #555555;
}

%title_title{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 58px;
    letter-spacing: 0.45px;
    color: #141414;
}
%title_service_info{
    font-size: 18px;
    line-height: 27px;
    color: #555555;
}