.hamburger{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    z-index: 4;
    background: $main-color;
    span{
        width: 25px;
        height: 3px;
        background-color: #FFFFFF;
        margin-bottom: 3px;
        transition: all 0.3s;
    }
    &_active{
        span{
            margin-bottom: -3px;
            &:nth-child(1){
                transform: rotate(-45deg);
            }
            &:nth-child(2){
                display: none;
            }
            &:nth-child(3){
                transform: rotate(45deg);
            }
        }
    }
}